@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Readex+Pro:wght@160..700&display=swap');

:root {
  /* colors  */
  --primary: #d9822b;
  --secondary: #c33332;
  --tertiary: #245396;
  --alternate: #e0e3e7;
  --primarybg: #fff;
  --secondarybg: #fcfcfc;
  --primarytext: #14181b;
  --secondarytext: #57636c;
  --accent1: #bb681f;
  --accent2: #a81e1e;
  --accent3: #459412;
  --accent4: #7c1e1e;
  --branded: #8e11a5;

  /* box shadow  */
  --card-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  --image-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  /* fonts  */
  --fontPrimary: "Readex Pro", sans-serif;
  --fontSecondary: "Outfit", sans-serif;

  /* radius */
  --radiusOne: 8px;
  --radiusTwo: 24px;
}


@media (prefers-color-scheme: dark) {
  :root {
    --primary-glow: conic-gradient(from 180deg at 50% 50%,
        #16abff33 0deg,
        #0885ff33 55deg,
        #54d6ff33 120deg,
        #0071ff33 160deg,
        transparent 360deg);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* mui globals strat */
/* search page  */
.css-1c35hjw-MuiPaper-root-MuiAccordion-root::before {
  opacity: 0 !important;
}

.css-1c35hjw-MuiPaper-root-MuiAccordion-root.Mui-expanded::before {
  opacity: 0 !important;
}

/* mui globals end */

/* globals  */

body p,
a,
li,
b,
strong,
div {
  font-family: var(--fontPrimary);
}

body h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fontPrimary);
}

.text-decoration-none {
  text-decoration: none;
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.img-fluid {
  width: 100%;
  display: block;
}

.shadow-none {
  box-shadow: none;
}

.h-100 {
  height: 100%;
}

.p-0 {
  padding: 0px !important;
}

.m-0 {
  margin: 0px;
}

.image-shadow {
  box-shadow: var(--image-box-shadow);
  border-radius: 8px;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.cat-red {
  color: #C33332;
}

.cat-yellow {
  color: #D9822B;
}

.grid-list-shadow {
  /* box-shadow: rgba(229, 229, 230, 0.25) 0px 30px 60px -12px inset, rgba(172, 169, 169, 0.3) 0px 18px 36px -18px inset; */
  box-shadow: inset rgba(216, 220, 226, 0.5) 0px 0px 40px 0px, inset rgba(233, 235, 237, 0.5) 0px 0px 40px 0px, inset rgb(218, 214, 214) 0px 0px 36px -24px;
  padding: 8px 20px;
  border-radius: 99px;
}

.text-ellipse-three {
  display: -webkit-box;
  max-width: 200px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* globals end */

/* navbar start */
.nav-bg {
  background-color: #C33332;
  padding: 25px 0px 130px 0px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: relative;
}

.nav-heading {
  color: var(--alternate);
  font-family: var(--fontPrimary);
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
}

.nav-link {
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 400;
  font-family: var(--fontPrimary);
  transition: all 0.2s;
}

.nav-link:hover {
  background-color: #fff;
  color: #C33332;
  border-radius: 99px;
  font-size: 14px;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 400;
  font-family: var(--fontPrimary);
}

.active {
  background-color: #fff;
  color: #C33332;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  border-radius: 99px;
  padding: 10px 20px;
  width: fit-content;
}

.large-icon {
  font-size: 2em;
}

.mobile-nav {
  display: none !important;
}

.nav-link-mobile {
  color: #000000;
  font-size: 18px;
  padding: 10px 30px;
}

.nav-link-li {
  line-height: 2.5em;
}

.nav-link-li a {
  text-decoration: none;
}

/* notification strat */
.notification-bg {
  width: 35px !important;
}

.notification {
  color: #ffffff !important;
  cursor: pointer !important;
  width: 45px !important;
  padding-right: 10px !important;
  font-size: 18px !important;
}

.notification-bg:hover {
  background-color: #ffffff !important;
  border-radius: 99px !important;
  height: 35px !important;
  display: grid !important;
  align-items: center !important;
  color: #000 !important;
}

.notification-bg:hover .notification {
  color: #000000 !important;
}

.register-btn {
  background-color: #fff !important;
  color: #C33332 !important;
  text-transform: capitalize !important;
  font-size: 18px !important;
  font-weight: bold !important;
  border-radius: 99px !important;
  padding: 5px 20px !important;
}

.avatar-text {
  color: #ffffff;
  padding-left: 5px;
  font-size: 14px;
  margin-right: 20px;
}

.notification-mark {
  font-size: 14px;
  color: #245396;
}

.notification-date {
  font-size: 12px;
  color: #969595;
}

.notification-name {
  font-family: var(--fontSecondary) !important;
}

.notification-red-dot {
  width: 10px;
  height: 10px;
  border-radius: 99px;
  background-color: #C33332;
}

.notification-username {
  color: #C33332;
  font-size: 12px;
}

.notification-para {
  margin-top: 10px;
  font-size: 12px;
  color: #969595;
  margin: 10px 45px;
  font-family: var(--fontSecondary) !important;
}

.notification-modal-heading {
  font-size: 18px;
}

/* notification end */

/* user profile start */
.up-box .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  position: absolute !important;
  width: 25% !important;
  right: 0 !important;
  top: 0 !important;
  height: fit-content !important;
}

.up-box .css-uhb5lp {
  position: absolute !important;
  width: 25% !important;
  right: 0 !important;
  top: 0 !important;
  height: fit-content !important;
}

.up-name {
  font-weight: 500;
  font-size: 14px;
}

.up-domain {
  color: #245396;
  font-size: 12px !important;
}

.up-img {
  width: 40px !important;
  height: 40px !important;
  border-radius: 8px;
}

.up-card {
  border: 1px solid #c4c1c1;
  padding: 4px 10px !important;
  margin-top: 5px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 12px;
}

.up-profile-icon {
  font-size: 16px !important;
}

.logout-icon {
  background-color: #245396;
  border-radius: 8px;
  padding: 6px 20px !important;
}

.logout-icon-span {
  font-size: 14px !important;
  text-transform: capitalize !important;
}

.up-box .css-uhb5lp::-webkit-scrollbar {
  display: none !important;
}

.up-box .css-uhb5lp {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

.user-link-box a {
  text-decoration: none;
  color: #000000;
}

/* user profile end */

/* navbar end  */


/* search start  */
.search-bg {
  background-color: #ffffff;
  padding: 5px;
  border-radius: var(--radiusOne);
  z-index: 999;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  margin-bottom: 5px;
  width: 100%;
  margin: 0px auto;
  margin-bottom: 2px;
  margin-top: -42px;
}

.search-btn:hover {
  background-color: #C33332 !important;
  color: #fff !important;
}

.container-search {
  max-width: 90%;
  margin: 0px auto;
}

.red-btn {
  border-radius: 0px 8px 8px 0px;
}

.rdrDefinedRangesWrapper {
  display: none;
}

.rdrDateRangePickerWrapper {
  border: 1px solid #cecaca;
  box-shadow: 0px 2px 16px 0px rgba(26, 26, 26, .24);
}


/* search end */

/* headings start */
.main-heading {
  margin-top: 60px;
  margin-bottom: 20px;
  font-family: "Outfit", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: var(--primarytext);
}

.main-sub-heading {
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: "Outfit", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: var(--primarytext);
}

/* headings end  */

/* recent search start */
.recent-search-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: var(--radiusOne);
}

.recent-search-card {
  box-shadow: var(--card-box-shadow);
  width: fit-content;
  padding: 5px;
  border-radius: var(--radiusOne);
}


.border-radius-two {
  border-radius: var(--radiusTwo);
}

.recent-search-title {
  margin-bottom: 1px;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: var(--primarytext);
}

.recent-search-desc {
  font-size: 12px;
  font-weight: 400;
  font-family: "Readex Pro", sans-serif;
  color: var(--secondarytext);
}

/* recent search end */

/* explore Cuisiness start */
.explore-cuisine-img {
  width: 150px;
  height: 125px;
  object-fit: cover;
  border-radius: var(--radiusTwo);
}

.explore-cuisine-card {
  width: fit-content;
  padding: 5px;
  border-radius: var(--radiusOne);
}

.cat-types {
  margin-top: 15px;
}

.first-card {
  padding-left: 0px !important;
}

.branded-cater-slider .swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  display: none !important;
}

.branded-cater-slider .swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 3px);
  left: auto;
  color: #322d2d;
  font-size: 1px;
  background: #fff;
  border-radius: 50%;
  width: 45px;
  box-shadow: var(--card-box-shadow) !important;
}

.branded-cater-slider .swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  font-size: 19px !important;
}

/* explore Cuisiness end */

/* explore Caters start */
.explore-caters-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: var(--radiusTwo);
  box-shadow: var(--card-box-shadow);
}

.explore-caters-heading {
  color: #fff;
  font-size: 20px;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
}

.explore-caters-box {
  border-radius: var(--radiusTwo) !important;
}

/* explore Caters end */

/* Popular Caterers start */
.popular-caterers-img {
  border-radius: var(--radiusOne);
  height: 155px;
  object-fit: cover;
  box-shadow: var(--card-box-shadow);
}

.popular-caterers-heading {
  font-size: 14px;
  margin-top: 5px;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
}

.popular-caterers-des {
  font-size: 12px;
  font-weight: 400;
  font-family: "Readex Pro", sans-serif;
}

/* Popular Caterers end */

/* caterers occasion start */
.caterers-occasion-img {
  /* border-radius: var(--radiusTwo); */
  border-top-right-radius: var(--radiusTwo);
  border-top-left-radius: var(--radiusTwo);
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.caterers-occasion-title {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  font-family: "Outfit", sans-serif;
  padding-bottom: 10px;
}

.explore-cator-box {
  box-shadow: var(--card-box-shadow);
  border-radius: var(--radiusTwo)
}

/* caterers occasion end */


/* faq start */
.faq-bg {
  background-color: none;
  border: 2px solid #C33332;
  border-radius: 8px !important;
  box-shadow: none;
  margin-bottom: 10px;
}

.panel1-header {
  font-size: 14px;
}

/* faq end */

/* subscribe start */
.subscribe-bg {
  background-image: linear-gradient(to right, #c33332, #d9822b);
  padding: 20px 0px;
}

.sub-heading {
  font-size: 22px;
  margin-bottom: 10px;
  color: #ffffff;
  font-weight: 500;
  font-family: var(--fontPrimary);
}

.sub-desc {
  font-size: 14px;
  color: #ffffff;
}

.sub-accept {
  font-size: 14px;
  color: #ffffff;
}

.subscribe-input {
  width: 75%;
}

/* subscribe end */

/* Footer start */
.footer-bg {
  background-color: #E0E3E7;
  padding: 10px 0px;
}

.footer-red {
  color: #C33332;
}

.footer-orange {
  color: #D9822B;
}

.footer-and {
  font-size: 36px;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
  margin-left: 5px;
}

.footer-logo .footer-red {
  font-size: 28px;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
}

.footer-logo .footer-orange {
  font-size: 28px;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
}

.footer-sub-heading {
  font-size: 16px;
  color: #252525;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  font-family: "Readex Pro", sans-serif;
}

.footer-ul {
  list-style-type: none;
}

.footer-ul li {
  line-height: 2.5em;
  font-size: 12px;
  font-weight: 400;
  font-family: "Readex Pro", sans-serif;
}

.footer-copywright {
  font-size: 14px;
  font-weight: 400;
  font-family: "Readex Pro", sans-serif;
}

.footer-container {
  width: 90%;
  margin: 0px auto;
}

/* Footer end */

/* landing page start  */
.landing-bg {
  background-image: linear-gradient(to right, #C53A31, #D6762C);
  height: 100vh;
}

.landing-heading {
  font-size: 3.3rem;
  color: #fff;
  margin-top: 20px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}

.landing-para {
  font-size: 32px;
  color: #fff;
  margin-top: 20px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}

.service-text {
  font-size: 16px;
  font-weight: 500;
  font-family: "Outfit", sans-serif;
}

.landing-btn-one {
  padding: 16px 0px;
  border-radius: 8px;
  text-align: center;
  width: 170px;
  background-color: #c33332;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  text-transform: uppercase !important;
  color: #ffffff;
  font-size: 14px !important;
  text-decoration: none;
}

.landing-btn-one:hover {
  background-color: #c33332;
}

.landing-btn-two {
  padding: 16px 0px;
  border-radius: 8px;
  text-align: center;
  width: 170px;
  background-color: #D9822B;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  text-transform: uppercase !important;
  color: #ffffff;
  font-size: 14px !important;
  text-decoration: none;
}

.landing-btn-two:hover {
  background-color: #D9822B;
}

.landing-mobile {
  margin-bottom: 30px;
}

.landing-container {
  width: 70%;
  margin: 0px auto;
}

.h-100 {
  height: 100% !important;
}

.landing-left {
  width: 70%;
}

/* landing page end  */

/* breadcrumb start */
.breadcrumb {
  margin-top: 40px;
}

.text-muted {
  color: #8a8787b4;
}

.breadcrumb-link {
  font-size: 12px !important;
  font-family: "Readex Pro", sans-serif;
}

.breadcrumb-link:hover {
  color: #C33332;
  text-decoration: none;
}

/* breadcrumb end */



/* view caterer start */
.btn-pill-violet {
  background-color: #E0E3E7 !important;
  border-radius: 99px !important;
  color: #000000 !important;
  padding: 0px 20px !important;
  text-transform: capitalize !important;
  font-size: 14px;
}

.btn-pill-violet-active {
  background-color: #8E11A5 !important;
  color: #fff !important;
}

.vc-chip {
  font-size: 12px;
  background-color: #8E11A5;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 99px;
}
.vc-chip-tiffin {
  font-size: 12px;
  background-color: var(--accent3);
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 99px;
}

.vc-heading {
  font-size: 24px;
  color: #245396;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
}

.vc-heading-tiffin {
  font-size: 32px;
  color: #459412;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
}

.vc-address {
  font-size: 14px;
  color: #245396;
  font-weight: 400;
  margin-top: 5px;
}

.vc-icon-box {
  width: 28%;
}

.vc-icons {
  font-size: 12px;
  color: #c33332 !important;
}
.vc-icons-tiffin {
  font-size: 12px;
  color: var(--primary) !important;
}

.vc-icons:hover {
  color: #245396 !important;
  cursor: pointer;
}
.vc-icons-tiffin:hover {
  color: #245396 !important;
  cursor: pointer;
}

.vc-icons-btn {
  color: #245396 !important;
  font-size: 12px !important;
  cursor: pointer !important;
  padding: 0px;
  font-weight: 500;
}

.vc-icons-btn:hover {
  background-color: #245396 !important;
  color: #ffffff !important;
  padding: 10px;
  border-radius: 5px;
}

.vc-img-left {
  width: 100%;
  height: 250px;
  border-radius: 8px;
  object-fit: cover;
}

.view-all-photos {
  position: relative;
}

.view-show-vc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 10px;
  cursor: pointer;
}

.view-all-dark-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00000070;
}

.vc-img-right {
  border-radius: 8px;
  width: 100%;
  height: 122px;
  object-fit: cover;
}

.food-type {
  color: #C33332;
  font-weight: 500;
  font-size: 18px;
  font-family: "Outfit", sans-serif;
}

.food-type-tiffin {
  color: var(--primary);
  font-weight: 500;
  font-size: 18px;
  font-family: "Outfit", sans-serif;
}

.food-type-non-veg {
  color: #7C1E1E;
  font-weight: 400;
  font-size: 14px;
  font-family: "Readex Pro", sans-serif;
}

.veg-green {
  color: #459412;
  font-weight: 400;
  font-size: 14px;
  font-family: "Readex Pro", sans-serif;
}

.vc-green-box {
  width: 30px;
  height: 20px;
  border-radius: 4px;
  background-color: #459412;
  display: inline-block;
}

.vc-gray-box {
  width: 25px;
  height: 20px;
  border-radius: 4px;
  background-color: #7C1E1E;
  display: inline-block;
}

.vc-cater {
  color: #C33332;
  margin-bottom: 2px;
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
  font-family: "Readex Pro", sans-serif;
}

.vc-cater-tiffin {
  color: #D9822B;
  margin-bottom: 2px;
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
  font-family: "Readex Pro", sans-serif;
}

.vc-price {
  font-size: 14px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
}

.vc-price-one {
  color: #C33332;
  font-weight: 500;
  font-family: "Readex Pro", sans-serif;
  font-size: 24px;
}
.vc-price-one-tiffin {
  color: var(--primary);
  font-weight: 500;
  font-family: "Readex Pro", sans-serif;
  font-size: 24px;
}

.vc-price-one-tiffin {
  color: #D9822B;
  font-weight: 500;
  font-family: "Readex Pro", sans-serif;
  font-size: 24px;
}

.vc-reviews {
  color: #C33332;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 0px;
  transition: 0.5s all;
  font-family: var(--fontPrimary);
}
.vc-reviews-tiffin {
  color: var(--primary);
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 0px;
  transition: 0.5s all;
  font-family: var(--fontPrimary);
}
.vc-reviews:hover{
  color: var(--tertiary);
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 0px;
  cursor: pointer;
  font-family: var(--fontPrimary);
}
.vc-reviews-tiffin {
  color: #D9822B;
  font-size: 14px;
  margin-bottom: 5px;
}

/* .vc-contact-btn {
  background-color: #459412 !important;
  border-radius: 8px !important;
  padding: 6px 20px !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  font-family: "Readex Pro", sans-serif !important;
  text-transform: capitalize !important;
  width: 215px !important;
} */

.vc-contact-btn-tiffin {
  background-color: var(--accent3) !important;
  border-radius: 8px !important;
  padding: 6px 15px !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  font-family: "Readex Pro", sans-serif !important;
  text-transform: capitalize !important;
  width: 215px !important;
  box-shadow: var(--image-box-shadow) !important;
}

.vc-contact-btn {
  background-color: #C33332 !important;
  border-radius: 8px !important;
  padding: 6px 15px !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  font-family: "Readex Pro", sans-serif !important;
  text-transform: capitalize !important;
  width: 215px !important;
  box-shadow: var(--image-box-shadow) !important;
}

.vt-whatsapp-btn {
  background-color: #459412 !important;
  border-radius: 8px !important;
  padding: 10px 15px !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  font-family: "Readex Pro", sans-serif !important;
  text-transform: capitalize !important;
}

.vc-locations {
  font-weight: 500;
  font-size: 16px;
  font-family: "Outfit", sans-serif;
}

.vc-icon-label-tiffin {
  font-size: 3em;
  color: #D9822B;
  margin-bottom: 10px;
}

.vc-icon-label {
  font-size: 2.5em;
  color: #C33332;
  margin-bottom: 10px;
}

.vc-service-type {
  color: #57636C;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  font-family: "Readex Pro", sans-serif;
}

.vc-service-heading {
  font-weight: 500;
  font-size: 14px;
  font-family: "Outfit", sans-serif;
}

.vc-shadow {
  box-shadow: var(--card-box-shadow);
}
.vc-icon-svg{
  width: 50px;
  height: 50px;
}
.vc-about-us {
  color: #C33332;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}
.vc-about-us-tiffin {
  color: #D9822B;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}

.vt-about-us {
  color: #D9822B;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 500;
}

.vc-para {
  font-size: 12px;
  line-height: 20px;
  line-height: 1.4em;
  color: #57636C;
  font-weight: 400;
}

.view-all {
  font-size: 14px;
  font-weight: 400;
}

.text-red {
  color: #C33332 !important;
}

.text-orange {
  color: #D9822B !important;
}


/* grid image gallery  */
.occasion-top-left-radius{
border-top-left-radius: 8px;
}
.occasion-top-right-radius{
  border-top-right-radius: 8px;
}
.occasion-bottom-left-radius{
  border-bottom-left-radius: 8px;
}
.occasion-bottom-right-radius{
  border-bottom-right-radius: 8px;
}
.vc-gallery {
  font-size: 28px;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}

.vc-see-all {
  /* color: #C33332; */
  text-decoration: underline;
  font-size: 14px;
  font-family: "Readex Pro", sans-serif;
}

.vc-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.vc-column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.vc-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.similar-caterers {
  font-weight: 600;
  font-size: 20px;
  font-family: "Outfit", sans-serif;
}

.review-cards {
  font-weight: 600;
  font-size: 20px;
  font-family: "Outfit", sans-serif;
}

.sc-title {
  font-size: 14px;
  font-weight: 500;
  font-family: "Outfit", sans-serif;
}

/* VC similar cards  */
.vc-similar-card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 5px;
  margin: 5px 0px 10px 0px;
  border-radius: 8px;
}

.vc-similar-card-img {
  border-radius: 8px;
}

.vc-similar-card-cost {
  font-size: 12px;
  margin-top: 5px;
  font-family: "Readex Pro", sans-serif;
}

.vc-similar-card-small {
  font-size: 10px;
  color: var(--secondarytext);
  font-weight: 400;
  font-family: "Readex Pro", sans-serif;
}

.vc-card-dishes {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--secondarytext);
}
.vc-similar-blue{
  font-size: 12px;
  font-weight: 400;
  color: var(--tertiary);
  margin-top: 5px !important;
}
.list-similar-veg{
  width: 20px;
}
.food-type-non-veg-similar {
  color: #7C1E1E;
  font-weight: 400;
  font-size: 12px;
  font-family: "Readex Pro", sans-serif;
}
.veg-green-similar {
  color: #459412;
  font-weight: 400;
  font-size: 12px;
  font-family: "Readex Pro", sans-serif;
}
.vc-price-one-similar-tiffin {
  color: var(--primary);
  font-weight: 500;
  font-family: "Readex Pro", sans-serif;
  font-size: 14px;
  margin-top: 5px;
}
.vc-price-one-similar-catering {
  color: var(--secondary);
  font-weight: 500;
  font-family: "Readex Pro", sans-serif;
  font-size: 14px;
  margin-top: 5px;
}

/* vc-review-card  */
.vc-review-card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px;
  margin: 20px 0px;
  border-radius: 8px;
}

.vc-review-card-img {
  width: 35px !important;
  border-radius: 99px;
}

.vc-review-card-title {
  font-size: 12px;
  text-align: left;
  font-weight: 500;
  font-family: "Outfit", sans-serif;
}

.vc-review-card-months {
  font-size: 10px;
  margin-top: 1px;
  font-weight: 400;
  font-family: "Readex Pro", sans-serif;
}

.vc-review-card-para {
  font-size: 12px;
  margin-top: 10px;
  color: #57636C;
  margin-bottom: 10px;
  font-family: "Readex Pro", sans-serif;
}

.vc-review-card-link {
  font-size: 12px;
  text-decoration: underline;
  font-weight: 400;
  font-family: "Readex Pro", sans-serif;
}


/* swiper-custom  */
.swiper-custom .swiper-button-prev {
  color: #C33332 !important;
  top: 45% !important;
}

.swiper-custom .swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 30px !important;
  font-weight: 600 !important;
}

.swiper-custom .swiper-button-next {
  color: #C33332 !important;
  top: 45% !important;
}

.swiper-custom-tiffin .swiper-button-prev {
  color: #D9822B !important;
  top: 45% !important;
}

.swiper-custom-tiffin .swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 30px !important;
  font-weight: 600 !important;
}

.swiper-custom-tiffin .swiper-button-next {
  color: #D9822B !important;
  top: 45% !important;
}

.swiper-custom .swiper-button-next:after,
.swiper-button-next:after {
  font-size: 30px !important;
  font-weight: 600 !important;
}

/* 
.css-1c35hjw-MuiPaper-root-MuiAccordion-root.Mui-expanded::before {
  opacity: 1 !important;
} */

/* view caterer end  */


/* catering search page start */
/* map-box */
.map-box {
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.catering-found {
  font-size: 20px;
  font-weight: 500;
  font-family: var(--fontSecondary);
}

.btn-pill {
  background-color: #E0E3E7 !important;
  border-radius: 99px !important;
  padding: 2px 6px !important;
  text-transform: capitalize !important;
  font-size: 12px;
}

.btn-pill-active {
  background-color: #C33332 !important;
  color: #fff !important;
}

.btn-pill-active-catering {
  background-color: #D9822B !important;
  color: #fff !important;
}

.filter-text {
  font-size: 16px !important;
  font-family: "Outfit", sans-serif !important;
  font-weight: 500;
}

.select-price-range {
  font-family: var(--fontSecondary);
  font-size: 14px !important;
  font-weight: 400;
  color: var(--secondarytext);
}

.checkbox-text {
  font-weight: 400;
  font-size: 14px;
  font-family: "Outfit", sans-serif !important;
  color: var(--secondarytext);
}

.css-o4b71y-MuiAccordionSummary-content.Mui-expanded {
  margin: 0px 0px !important;
}

.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
  min-height: 40px !important;
}

/* .css-1c35hjw-MuiPaper-root-MuiAccordion-root.Mui-expanded::before {
  opacity: 1 !important;
} */

/* .checkbox-color{
  color: #C33332 !important;
}
.checkbox-color-tiffin{
  color: #D9822B !important;
} */

/* listview cards */
.filter-shadow {
  box-shadow: rgba(0, 0, 0, 0.012) 0px 10px 36px 0px, rgba(0, 0, 0, 0.012) 0px 0px 0px 1px;
  border-radius: 8px !important;
}

.list-view-card {
  box-shadow: rgba(0, 0, 0, 0.114) 0px 10px 36px 0px, rgba(0, 0, 0, 0.086) 0px 0px 0px 1px;
  margin: 20px 0px 10px 0px;
  border-radius: 8px !important;
  padding: 5px;
}

.list-card-img {
  width: 200px;
  height: 200px;
}
.list-card-img-tiffin {
  width: 170px;
  height: 170px;
}

.listview-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.listview-img-tiffin {
  width: 170px;
  height: 200px;
  object-fit: cover;
}

.list-view-icons {
  width: 32px;
}

.list-view-icon-text {
  font-family: var(--fontSecondary);
  font-size: 14px;
  font-weight: 400;
  margin-left: 10px;
  color: var(--primarytext);
}

.list-card-title {
  font-family: var(--fontSecondary);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 4px;
  color: var(--primarytext);
}

.list-card-desc {
  font-family: var(--fontPrimary);
  font-size: 12px;
  font-weight: 400;
  color: var(--secondarytext);
}

.list-card-veg {
  width: 20px;
}

.list-card-veg-font {
  font-family: var(--fontSecondary);
  font-size: 12px;
  font-weight: 400;
  color: #266920;
}

.list-card-non-veg-font {
  font-family: var(--fontSecondary);
  font-size: 12px;
  font-weight: 400;
  color: var(--accent4);
}

.list-card-dish-loc span {
  font-family: var(--fontPrimary);
  font-size: 12px;
  font-weight: 400;
  color: var(--tertiary);
}

.list-card-chip {
  font-size: 10px;
  background-color: #c3323227;
  color: var(--secondary);
  padding: 5px 8px;
  border-radius: 99px;
  width: fit-content;
  font-weight: 500;
  font-family: var(--fontPrimary);
}
.list-card-chip-tiffin {
  font-size: 12px;
  /* background-color: #d9822b15; */
  color: var(--primary);
  padding: 5px 1px;
  border-radius: 99px;
  width: fit-content;
  font-weight: 500;
  font-family: var(--fontPrimary);
}

.lse-icons {
  color: var(--secondarytext);
  font-size: 18px !important;
}

.lse-map-icon {
  font-family: var(--fontSecondary);
  font-size: 12px;
  font-weight: 400;
  color: var(--secondary);
}

.lse-map-icon-orange{
  font-family: var(--fontSecondary);
  font-size: 12px;
  font-weight: 400;
  color: var(--primary);
}

.lse-reviews {
  font-family: var(--fontSecondary);
  font-size: 12px;
  font-weight: 400;
  color: var(--primarytext);
}

.lse-starting-price {
  font-family: var(--fontSecondary);
  font-size: 12px;
  font-weight: 400;
  color: var(--primarytext);
}

.lse-rupees {
  font-family: var(--fontSecondary);
  font-size: 18px;
  font-weight: 500;
  color: var(--secondary);
}

.lse-rupees-orange{
  font-family: var(--fontSecondary);
  font-size: 18px;
  font-weight: 500;
  color: var(--primary);
}

.list-card-tag {
  top: 10px;
  background-color: #8E11A5;
  padding: 8px 20px;
  color: var(--secondarybg);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 12px;
  font-weight: 500;
}
.list-card-tag-tiffin {
  top: 0px;
  background-color: var(--accent3);
  padding: 6px 20px;
  color: var(--secondarybg);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 12px;
  font-weight: 500;
}

/* grid view */
.grid-view-title {
  font-family: var(--fontSecondary);
  font-size: 18px;
  font-weight: 500;
  color: var(--primarytext);
}

/* catering search page end */

/* pagination */
.pagination-box {
  border: 1px solid #a8afc1;
  margin-bottom: 20px;
  padding: 10px 0px;
  margin-top: 15px;
  border-radius: 8px;
}

.pagination-heading {
  font-size: 18px;
  font-family: var(--fontSecondary);
  font-weight: 500;
  color: var(--primarytext);
}

.pagination-showing {
  font-size: 14px;
  color: var(--secondarytext);
  font-weight: 500;
  font-family: var(--fontSecondary);
}

/* pagination end */

/* register Modal start */
.register-bg {
  background-image: linear-gradient(to right, #c33332, #d9822b);
  padding: 10px 0px 40px 0px;
  width: 400px !important;
  border-radius: 8px;
}
.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
  border-radius: 10px !important;
}
.catering-register-title {
  color: #ffffff;
  font-size: 1.4em !important;
  font-weight: 500 !important;
}

.register-welcome {
  color: #ffffff;
  font-size: 1.2em;
}

.register-para {
  color: #ffffff;
  margin-bottom: 30px;
}

.login-otp {
  background-color: #fff !important;
  color: #000000 !important;
  text-transform: capitalize !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  border-radius: 99px !important;
  padding: 5px 20px !important;
  margin-bottom: 30px !important;
  margin-top: 30px !important;
  font-family: var(--fontPrimary);
}

.reg-later {
  font-family: var(--fontPrimary);
  font-weight: 400;
  color: #ffffff;
  font-size: 12px !important;
}

.register-bg .css-1pnmrwp-MuiTypography-root {
  color: #fff !important;
}

.register-bg .css-ktek8-MuiInputBase-root-MuiFilledInput-root {
  background: transparent !important;
}

.register-bg .css-18m8r0v {
  color: #fff !important;
}

.register-bg .css-1ky9y8h {
  background: transparent !important;
}

/* register Modal end */



/* user profile */
.up-box .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  position: absolute !important;
  width: 25% !important;
  right: 0 !important;
  top: 0 !important;
  height: fit-content !important;
}

.up-box .css-uhb5lp {
  position: absolute !important;
  width: 25% !important;
  right: 0 !important;
  top: 0 !important;
  height: fit-content !important;
}

.up-name {
  font-weight: 500;
}

.up-domain {
  color: #245396;
}

.up-img {
  width: 70px;
  height: 70px;
  border-radius: 8px;
}

.up-card {
  border: 1px solid #c4c1c1;
  padding: 20px;
  margin-top: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.logout-icon {
  background-color: #245396;
  border-radius: 8px;
  padding: 12px 20px;
}

.up-box .css-uhb5lp::-webkit-scrollbar {
  display: none !important;
}

.up-box .css-uhb5lp {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

/* map-box */
.map-box {
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* react date picker calender */

.catering-found {
  font-size: 24px;
  font-weight: 500;
}

.search-card-left {
  width: 80% !important;
}

/* user-profile */
.user-profile-gradient {
  background-image: linear-gradient(to right, #c33332, #d9822b);
  padding: 10px 0px 30px 0px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.up-name-profile {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 24px;
  font-family: "Outfit", sans-serif;
}

.up-email {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  font-family: "Outfit", sans-serif;
  padding: 5px 0px;
}

.up-number {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  font-family: "Outfit", sans-serif;
}

.up-signout {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  font-family: "Readex Pro", sans-serif;
  margin-left: 5px;
}

.manage-account {
  font-size: 18px;
  font-weight: 500;
  font-family: "Outfit", sans-serif;
  color: #14181B;
  margin-bottom: 20px
}

.user-profile-box {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 15px 10px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.user-profile-links {
  color: #14181B;
  font-size: 14px;
  font-weight: 400;
  font-family: "Readex Pro", sans-serif;
}

.user-profile-icon {
  color: #57636C;
  font-size: 14px;
}

.active-up {
  background-image: linear-gradient(to right, #c33332, #d9822b);
}

.active-up .user-profile-links {
  color: #ffffff !important;
}

.active-up .user-profile-icon {
  color: #ffffff !important;
}

.user-profile-shadow-box {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 30px 15px;
  margin: 5px 0px;
}

.user-profile-title {
  font-size: 18px;
  font-weight: 500;
  font-family: "Outfit", sans-serif;
  color: #14181B;
  margin-bottom: 20px;
}

.job-textarea {
  margin-top: 10px !important;
  width: auto !important;
  height: 150px !important;
  border: 1px solid #D2D2D2 !important;
  /* background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07) !important; */
  border-image: none !important;
  border-radius: 6px 6px 6px 6px !important;
  box-shadow: 0px 0px 11px 2px #4B44D40F inset !important;
  color: #555555 !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 1em !important;
  line-height: 1.4em !important;
  padding: 5px 8px !important;
  transition: background-color 0.2s ease 0s !important;
}

.job-textarea:focus {
  background: none repeat scroll 0 0 #FFFFFF !important;
  outline-width: 0 !important;
}

.notification-width {
  width: 50%;
}

.notification-font {
  font-size: 14px;
  font-family: var(--fontPrimary);
}

.landing-container {
  width: 80%;
  margin: 0px auto;
}

.viewSimilarCaters {
  background-color: #D9822B;
  padding: 0px 10px;
  margin-top: 10px;
  font-size: 12px;
  text-transform: capitalize;
}

.view-all-photos {
  position: relative;
}

.view-show-vc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 10px;
  cursor: pointer;
  font-family: var(--fontPrimary);
}

.view-all-dark-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00000070;
  border-radius: var(--radiusOne);
}

.settings-links li {
  list-style-type: none;
  line-height: 2em;
}

.settings-links li a {
  color: #2B5899;
}

.user-settings-title {
  font-size: 22px;
  font-weight: 500;
  font-family: "Outfit", sans-serif;
  color: #14181B;
  margin-bottom: 5px;
}

.mode-icon {
  font-size: 16px !important;
  margin-right: 5px;
}

.mode-font {
  font-size: 16px;
}

/* Define a CSS rule to target the placeholder text */
::-webkit-input-placeholder {
  font-size: 14px;
}

:-moz-placeholder {
  font-size: 14px;
}

::-moz-placeholder {
  font-size: 14px;
}

:-ms-input-placeholder {
  font-size: 14px;
}

/* user profile end  */

/* tiffin styles start  */
.nav-bg-tiffin{
  background-color: var(--primary);
  padding: 25px 0px 130px 0px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: relative;
}
.search-btn-tiffin:hover {
  background-color: var(--primary) !important;
  color: #fff !important;
}
.faq-bg-tiffin{
  background-color: none;
  border: 2px solid var(--primary);
  border-radius: 8px !important;
  box-shadow: none;
  margin-bottom: 10px;
}
/* tiffin styles end  */

/* media quories start */
@media only screen and (max-width: 1200px) {
  .desktop-nav {
    display: none !important;
  }

  .mobile-nav {
    display: block !important;
  }
}


@media only screen and (max-width: 900px) {
  .landing-para {
    font-size: 28px;
  }

  .landing-heading {
    font-size: 2rem;
  }

  .landing-left {
    width: 100%;
  }

  .vc-icon-box {
    width: 50%;
    margin-top: 10px;
  }

  .vc-column {
    flex: 50%;
    max-width: 50%;
  }

  .listview-img {
    width: 155px;
  }
  .listview-img-tiffin {
    width: 155px;
  }

  .list-card-img {
    width: 145px;
  }
  .list-card-img-tiffin {
    width: 145px;
  }
}

@media screen and (max-width: 600px) {
  .vc-column {
    flex: 100%;
    max-width: 100%;
  }

  .list-card-chip {
    margin-bottom: 10px !important;
  }

  .listview-img {
    width: 100%;
  }
  .listview-img-tiffin {
    width: 100%;
  }

  .list-card-img {
    width: 100%;
  }
  .list-card-img-tiffin {
    width: 100%;
  }
}

/* media quories end */